<!DOCTYPE html>
<!--
    引入thymeleaf标签
 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf模板引擎案例</title>
</head>
<body>
    <!--
        Thymeleaf标签使用：需要在指定的标签上使用Thymeleaf相关的语法
     -->
    hello!<div th:text="${message}"></div>crede

    <div>
        th:action 指定表单提交的路径
        <form id="login-form" th:action="@{/test/hello}">
            <button>提交</button>
        </form>
    </div>
    <div>
        th:each循环标签
        <table border="1px">
            <tr>
                <td>下标</td>
                <td>编号</td>
                <td>姓名</td>
                <td>地址</td>
            </tr>
            <!--循环
                第1个参数：user-当前被循环的对象
                第2个参数：当前被循环的对象状态记录，例如：下标、第几条
             -->
            <tr th:each="user,userStatus:${list}">
                <td th:text="${userStatus.index}"></td>
                <td th:text="${user.id}">编号</td>
                <td th:text="${user.name}">姓名</td>
                <td th:text="${user.address}">地址</td>
            </tr>
        </table>
    </div>
    <div>
        读取Map:2种方式  <br>
        1:知道Map的Key,直接根据Key获取数据<br>
        2:不知道Map的Key,使用循环的方式获取Key，然后获取数据<br>
        <h5>方式1</h5>
        <div>
            获取Key=No的值:<span th:text="${dataMap.No}"></span><br>
            获取Key=address的值:<span th:text="${dataMap.address}"></span><br>
        </div>
        <h5>方式2</h5>
        <div th:each="map:${dataMap}">
            <span th:text="${map.key}"></span>:<span th:text="${map.value}"></span>
        </div>
    </div>
<div>
    Date数据获取
    <div>
        <span th:text="${#dates.format(now,'yyyy-MM-dd HH:mm:ss')}"></span>
    </div>
</div>
<div>
    if条件判断 th:unless 表示条件不成立时输出指定数据
    <div>
        <span th:if="${age>18}">成年人</span>
        <span th:unless="${age<18}">成年人</span>
    </div>
</div>
<div>
    下面是引入的一个公共模块
    <div>
        <div id="A" th:include="footer::copy"></div>
    </div>
</div>
</body>
</html>